In [12]:
import pandas as pd
import json
with open('json_files/teams_and_players_2023-12-15.json','r') as f:
    master_json = json.load(f)
pd.DataFrame(master_json["PURDUE"]['player_totals'])

,Rk,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,team
0,1.0,Zach Edey,10,10.0,292,80,127,0.630,80,127,...,44,64,108,12,1,26,17,18,248,PURDUE
1,2.0,Braden Smith,10,10.0,319,50,104,0.481,35,71,...,6,53,59,72,16,1,25,17,132,PURDUE
2,3.0,Lance Jones,10,10.0,262,37,87,0.425,19,36,...,3,23,26,22,17,1,17,19,106,PURDUE
3,4.0,Fletcher Loyer,10,10.0,259,30,79,0.380,15,37,...,4,23,27,13,8,0,14,15,102,PURDUE
4,5.0,Trey Kaufman-Renn,10,10.0,159,22,45,0.489,18,36,...,12,25,37,11,2,3,7,12,65,PURDUE
5,6.0,Mason Gillis,10,0.0,180,16,31,0.516,6,12,...,11,23,34,13,0,0,11,12,53,PURDUE
6,7.0,Myles Colvin,10,0.0,111,17,37,0.459,5,11,...,1,5,6,3,3,2,5,10,49,PURDUE
7,8.0,Camden Heide,10,0.0,124,13,23,0.565,8,14,...,3,18,21,6,0,6,7,20,34,PURDUE
8,9.0,Caleb Furst,10,0.0,144,10,26,0.385,8,19,...,10,31,41,7,3,4,8,12,31,PURDUE
9,10.0,Will Berg,4,0.0,20,8,11,0.727,8,11,...,5,4,9,0,0,0,2,4,18,PURDUE
10,11.0,Ethan Morton,9,0.0,113,2,10,0.200,0,2,...,1,6,7,17,5,2,2,6,8,PURDUE
11,12.0,Brian Waddell,4,0.0,25,3,6,0.500,3,4,...,1,4,5,2,0,0,0,0,6,PURDUE
12,13.0,Sam King,2,0.0,2,0,0,NaN,0,0,...,1,2,3,0,0,2,1,0,2,PURDUE
13,14.0,Chase Martin,3,0.0,7,1,3,0.333,1,2,...,0,2,2,2,0,0,2,1,2,PURDUE
14,15.0,Carson Barrett,3,0.0,7,0,0,NaN,0,0,...,0,3,3,0,0,0,0,3,0,PURDUE
15,16.0,Josh Furst,1,0.0,1,0,0,NaN,0,0,...,0,1,1,0,0,0,0,0,0,PURDUE
16,17.0,Jace Rayl,1,0.0,1,0,0,NaN,0,0,...,0,0,0,0,0,0,0,0,0,PURDUE
17,NaN,School Totals,10,NaN,2025,289,589,0.491,206,382,...,115,305,420,180,55,47,122,149,856,PURDUE

In [13]:
def create_all_player_totals_dataframe() -> pd.DataFrame:
    
    list_to_transform = []
    
    for team,data in master_json.items():
        
        for player_data_row in data['player_totals']:
            list_to_transform.append(player_data_row)
    
    return pd.DataFrame(list_to_transform,index = [i for i in range(len(list_to_transform))])\
        .query("Player != 'School Totals'").drop('Rk',axis = 1)

create_all_player_totals_dataframe().query("team == 'PURDUE'")

,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,2P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,team
3493,Zach Edey,10,10.0,292,80,127,0.630,80,127,0.630,...,44,64,108,12,1,26,17,18,248,PURDUE
3494,Braden Smith,10,10.0,319,50,104,0.481,35,71,0.493,...,6,53,59,72,16,1,25,17,132,PURDUE
3495,Lance Jones,10,10.0,262,37,87,0.425,19,36,0.528,...,3,23,26,22,17,1,17,19,106,PURDUE
3496,Fletcher Loyer,10,10.0,259,30,79,0.380,15,37,0.405,...,4,23,27,13,8,0,14,15,102,PURDUE
3497,Trey Kaufman-Renn,10,10.0,159,22,45,0.489,18,36,0.500,...,12,25,37,11,2,3,7,12,65,PURDUE
3498,Mason Gillis,10,0.0,180,16,31,0.516,6,12,0.500,...,11,23,34,13,0,0,11,12,53,PURDUE
3499,Myles Colvin,10,0.0,111,17,37,0.459,5,11,0.455,...,1,5,6,3,3,2,5,10,49,PURDUE
3500,Camden Heide,10,0.0,124,13,23,0.565,8,14,0.571,...,3,18,21,6,0,6,7,20,34,PURDUE
3501,Caleb Furst,10,0.0,144,10,26,0.385,8,19,0.421,...,10,31,41,7,3,4,8,12,31,PURDUE
3502,Will Berg,4,0.0,20,8,11,0.727,8,11,0.727,...,5,4,9,0,0,0,2,4,18,PURDUE
3503,Ethan Morton,9,0.0,113,2,10,0.200,0,2,0.000,...,1,6,7,17,5,2,2,6,8,PURDUE
3504,Brian Waddell,4,0.0,25,3,6,0.500,3,4,0.750,...,1,4,5,2,0,0,0,0,6,PURDUE
3505,Sam King,2,0.0,2,0,0,NaN,0,0,NaN,...,1,2,3,0,0,2,1,0,2,PURDUE
3506,Chase Martin,3,0.0,7,1,3,0.333,1,2,0.500,...,0,2,2,2,0,0,2,1,2,PURDUE
3507,Carson Barrett,3,0.0,7,0,0,NaN,0,0,NaN,...,0,3,3,0,0,0,0,3,0,PURDUE
3508,Josh Furst,1,0.0,1,0,0,NaN,0,0,NaN,...,0,1,1,0,0,0,0,0,0,PURDUE
3509,Jace Rayl,1,0.0,1,0,0,NaN,0,0,NaN,...,0,0,0,0,0,0,0,0,0,PURDUE