In [7]:
import pandas as pd
import json
with open('json_files/teams_and_players.json','r') as f:
    master_json = json.load(f)
pd.DataFrame(master_json["PURDUE"]['player_totals'])

,Rk,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,team
0,1.0,Zach Edey,6,6.0,173,45,76,0.592,45,76,...,27,42,69,6,1,17,11,8,138,PURDUE
1,2.0,Braden Smith,6,6.0,190,29,56,0.518,20,38,...,3,29,32,37,12,0,15,9,72,PURDUE
2,3.0,Fletcher Loyer,6,6.0,165,19,52,0.365,10,24,...,1,17,18,7,6,0,8,10,64,PURDUE
3,4.0,Lance Jones,6,6.0,164,22,54,0.407,13,25,...,1,14,15,15,10,0,12,11,57,PURDUE
4,5.0,Trey Kaufman-Renn,6,6.0,95,12,25,0.480,10,19,...,5,17,22,7,2,2,4,8,35,PURDUE
5,6.0,Myles Colvin,6,0.0,63,11,20,0.550,2,6,...,0,3,3,2,1,2,4,5,31,PURDUE
6,7.0,Camden Heide,6,0.0,70,9,15,0.600,6,10,...,2,7,9,3,0,3,4,8,24,PURDUE
7,8.0,Caleb Furst,6,0.0,80,6,14,0.429,4,9,...,5,16,21,4,2,3,4,5,21,PURDUE
8,9.0,Mason Gillis,6,0.0,108,7,17,0.412,3,7,...,7,12,19,9,0,0,7,8,21,PURDUE
9,10.0,Will Berg,2,0.0,11,5,7,0.714,5,7,...,3,3,6,0,0,0,1,3,11,PURDUE
10,11.0,Ethan Morton,5,0.0,49,2,4,0.500,0,1,...,1,1,2,7,4,1,2,4,8,PURDUE
11,12.0,Brian Waddell,2,0.0,16,3,5,0.600,3,4,...,0,3,3,1,0,0,0,0,6,PURDUE
12,13.0,Sam King,2,0.0,2,0,0,NaN,0,0,...,1,2,3,0,0,2,1,0,2,PURDUE
13,14.0,Carson Barrett,2,0.0,6,0,0,NaN,0,0,...,0,3,3,0,0,0,0,2,0,PURDUE
14,15.0,Josh Furst,1,0.0,1,0,0,NaN,0,0,...,0,1,1,0,0,0,0,0,0,PURDUE
15,16.0,Chase Martin,2,0.0,6,0,2,0.000,0,1,...,0,2,2,2,0,0,2,1,0,PURDUE
16,17.0,Jace Rayl,1,0.0,1,0,0,NaN,0,0,...,0,0,0,0,0,0,0,0,0,PURDUE
17,NaN,School Totals,6,NaN,1200,170,347,0.490,121,227,...,62,182,244,100,38,30,78,82,490,PURDUE

In [14]:
master_json["PURDUE"]['player_totals'][1]

{'Rk': 2.0,
 'Player': 'Braden Smith',
 'G': 6,
 'GS': 6.0,
 'MP': 190,
 'FG': 29,
 'FGA': 56,
 'FG%': 0.518,
 '2P': 20,
 '2PA': 38,
 '2P%': 0.526,
 '3P': 9,
 '3PA': 18,
 '3P%': 0.5,
 'FT': 5,
 'FTA': 10,
 'FT%': 0.5,
 'ORB': 3,
 'DRB': 29,
 'TRB': 32,
 'AST': 37,
 'STL': 12,
 'BLK': 0,
 'TOV': 15,
 'PF': 9,
 'PTS': 72,
 'team': 'PURDUE'}

In [18]:
def create_all_player_totals_dataframe() -> pd.DataFrame:
    
    list_to_transform = []
    
    for team,data in master_json.items():
        
        for player_data_row in data['player_totals']:
            list_to_transform.append(player_data_row)
    
    return pd.DataFrame(list_to_transform,index = [i for i in range(len(list_to_transform))])\
        .query("Player != 'School Totals'").drop('Rk',axis = 1)

create_all_player_totals_dataframe()

,Player,G,GS,MP,FG,FGA,FG%,2P,2PA,2P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,team
0,Ali Abdou Dibba,6,6.0,166,29,66,0.439,28,59,0.475,...,3,19,22,6,7,0,12,13,78,PURDUE
1,Hunter-Jack Madden,6,6.0,172,22,44,0.500,11,25,0.440,...,8,22,30,6,5,0,8,11,75,PURDUE
2,Airion Simmons,6,5.0,132,30,67,0.448,23,48,0.479,...,7,25,32,15,6,2,10,17,73,PURDUE
3,Cameron Steele,6,6.0,166,14,40,0.350,5,20,0.250,...,6,11,17,6,6,6,4,6,42,PURDUE
4,Immanuel Allen,6,0.0,100,7,24,0.292,5,16,0.313,...,4,8,12,4,7,0,4,17,32,PURDUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,EJ Farmer,6,5.0,133,14,43,0.326,13,29,0.448,...,3,11,14,5,4,0,6,3,32,PURDUE
5036,Jaylen Bates,5,0.0,63,5,18,0.278,1,8,0.125,...,5,15,20,1,1,1,5,9,22,PURDUE
5037,Imanuel Zorgvol,6,0.0,51,5,9,0.556,5,9,0.556,...,5,11,16,0,1,5,3,15,17,PURDUE
5038,Gabe Dynes,6,0.0,65,7,12,0.583,7,11,0.636,...,4,15,19,1,1,8,1,7,15,PURDUE
5039,Tommy Fryda,2,0.0,2,0,0,NaN,0,0,NaN,...,0,1,1,0,0,1,0,0,0,PURDUE